.main--container {
  display: flex;
  height: 100vh;
  padding-left: .25rem;

  & &__input {
      background: #EFE9E7;
      color: black;
      width: 54vw;
      border: none;
      border-radius: 3px;
      resize: none;
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
      overflow: auto;
      height: 100vh;
      border-right: #96CDFF 1px dashed;
      box-shadow: 0px 4px 10px -8px black;
      padding-left: 5rem;
      padding-top: 10rem;
      padding-right: 5rem;
  }

  & &__results {
    background: #EFE9E7;
    text-align: center;
    height: 100vh;
    width: 45vw;
    margin-left: 0.0625rem;
    padding-right: .25rem;
    display: block;

    .analyze {
      height: 3.5rem;
      width: 10rem;
      font-weight: bold;
      margin: 1rem;
      border-color: lightslategray;
      color: lightslategray;
    }

    .analyze:active {
      transform: scale(1.015, 1.015);
      border-color: coral;
      box-shadow: none;
    }

    .analyze:focus {
      box-shadow: none;
    }

    ul {
      li {
        padding-left: 1rem;
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        color: #96CDFF;
        padding-top: 8rem;
      }
    }
  }
}