.text::placeholder {
  color: gainsboro;
}

.text:focus {
  outline: none;
}

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
  background-color: transparent;
}


